html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

.clearfix:before,
.clearfix:after {       
    content: "";     /*内容为“.”就是一个英文的句号而已。也可以不写。*/
    display: block;   /*加入的这个元素转换为块级元素。*/
    clear: both;     /*清除左右两边浮动。*/
    visibility: hidden;      /*可见度设为隐藏。注意它和display:none;是有区别的。visibility:hidden;仍然占据空间，只是看不到而已；*/
    line-height: 0;    /*行高为0；*/
    height: 0;     /*高度为0；*/
    font-size:0;    /*字体大小为0；*/
}
.clearfix { *zoom:1;}   /*这是针对于IE6的，因为IE6不支持:after伪类，这个神奇的zoom:1让IE6的元素可以清除浮动来包裹内部元素。*/
body{font-size: 10px;}
.wrap{width: 100%;}/*484px*/
header{background-color: #f1f1f1;}
header .top-w{width: 100%;background-image: url("../images/top-bg_02.jpg");overflow: hidden;position: fixed;top: 0;left: 0;z-index: 1;}
header .top{width:94.214876%;/*456/484*/margin: 0 auto;}
header .top a:first-child{width: 53px;font-size: 0.75em;/*12/16*/color: #fcfcfa;line-height: 4.166666;/*50/12*/float: left;background: url("../images/sanjiao_03.jpg") no-repeat right center;}
header .top h1{font-size: 1.125em;/*18/16*/color: #fffff6;text-align: center;line-height: 50px;/*50/18*/}
header .top a{line-height: 50px;}
header .top a:nth-child(2){float: right;vertical-align: middle;}
section{margin-top: 50px;margin-bottom: 61px;position: relative;}

section li{list-style: none;width: 110px;/*110/484*/background: #22d9a3;margin-bottom: 1px;}
section li a img{width: 25px;max-width: 100%;vertical-align: middle;margin-left:10px;margin-right: 5px; }
section li a{line-height: 50px;text-decoration: none;}
section li a span{font-size: 13px;color: #fffcff;}
section li a:hover span{color: #008101;}
nav>ul>li>div{position: absolute;left: 117px;top: 0;margin-top: 6px;display: none;}
nav>ul>li:hover div{display: block;}
nav>ul>li>div ul{float: left;width: 49%;}
nav>ul>li>div ul li{background: #fff;}
nav>ul>li>div ul li a{line-height: 38px;font-size: 13px;color: #827e7b;}

footer{width: 100%;background: url("../images/footer-bg_22.jpg");position: fixed;bottom: 0;left: 0;}
footer li{width: 25%;list-style: none;float: left;text-align: center;}
footer li a{text-decoration: none;}
footer li a img{display: block;margin: 0 auto;margin-top: 6px;}
footer li a span{display: block;font-size: 13px;color: #39be7c;padding-top: 9px;padding-bottom: 5px;}